<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.adobe.adbmobile"
        version="0.7.0">

  <name>ADBMobile</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ADB_Helper.js" target="js/ADB_Helper.js"/>

  <js-module src="www/ADB_Helper.js" name="ADBMobile">
    <clobbers target="ADB" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ADBMobile_PhoneGap">
        <param name="android-package" value="com.adobe.ADBMobile_PhoneGap"/>
      </feature>
    </config-file>

    <source-file src="src/android/ADBMobile_PhoneGap.java" target-dir="src/com/adobe/"/>
		<resource-file src="src/android/adobeMobileLibrary-4.13.0.jar" target="libs/adobeMobileLibrary-4.13.0.jar" />

		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		
  </platform>

  <platform name="ios">

		<framework src="libsqlite3.dylib" />
		<framework src="SystemConfiguration.framework" />
		<source-file src="src/ios/AdobeMobileLibrary.a" framework="true" />
    
    <config-file target="config.xml" parent="/widget">
      <feature name="ADBMobile_PhoneGap">
        <param name="ios-package" value="ADBMobile_PhoneGap" />
      </feature>
    </config-file>

    <header-file src="src/ios/ADBMobile_PhoneGap.h" target-dir="ADBMobilePlugin"/>
    <source-file src="src/ios/ADBMobile_PhoneGap.m" target-dir="ADBMobilePlugin"/>
    <header-file src="src/ios/ADBMobile.h" target-dir="ADBMobilePlugin"/>

  </platform>

</plugin>
